


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #060407 , #09080a00)
  }
  
  .li {
    float: left;
  }
  .li1{
    float: right;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
.active1 {
    background-image: radial-gradient(rgb(30, 232, 247), transparent);
  }

  .quote {
    text-align: center;
    color: rgb(206, 206, 206);
    font-size: 3vw;
   
    
  }
  .statement {
    font-size: 2.8vw;
    color: rgb(206, 206, 206);
    text-align: center;
  }