

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #060407 , #09080a00)
  }
  
  .li {
    float: left;
  }
  .li1{
    float: right;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
.active1 {
    border-bottom: rgb(3, 255, 242) solid 2px ;
    border-radius: 10%;
  }

  .quote {
    text-align: center;
    color: rgb(206, 206, 206);
    font-size: 2vw;
    padding-top: 5vw;
   
    
  }
  .statement {
    font-size: 2.8vw;
    color: rgb(206, 206, 206);
    text-align: center;
    opacity: 0;
    margin-top: 10vw;
  }
  .fade1 {
    animation-name: fadeout;
    animation-iteration-count: 1;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeout {
    from {}
    to {display: none; opacity: 0;}
  }
.fade2 {
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-delay: 8s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from{ opacity: 0;}
  to { opacity: 1;}
}