@font-face {
  font-family: 'Cambria';
  src: url('img/Cambria-Font-For-Windows.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
 font-family: 'Cambria', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #060407 , #09080a00)
  }
  
  .li {
    float: left;
  }
  .li1{
    float: right;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1vw;
    
  }
  
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
.active1 {
    border-bottom: rgb(3, 255, 242) solid 2px ;
    border-radius: 10%;
  }

  .quote {
    text-align: center;
    color: rgb(206, 206, 206);
    font-size: 1vw;
    padding-top: 5vw;
  }

  .foot {
    background-color: rgb(14, 13, 13);
    color: white;
    margin-bottom: 0px;
   
    bottom: 0;
    width: 100%;
   padding: 2vw;
   font-size: 1.1vw;
   text-align: center;
   margin-top: 10vw;
  }
.foote:hover {
  color: rgb(3, 255, 242) ;
  cursor: pointer;
}

  .statement {
    font-size: 2.8vw;
    color: rgb(206, 206, 206);
    text-align: center;
    padding: 0;
  
  }
  .fade1 {
    animation-name: fadein0;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 7s;
    animation-fill-mode: forwards;
  }
  .fade2 {
    animation-name: fadein1;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .fade3 {
    animation-name: fadein1;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  @keyframes fadein0 {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
    
  }
  @keyframes fadein1 {
    0% {
      opacity: 0;
      transform: translateX(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
    
  }

  .iframe {
    background-color: white;
    padding: 100px;
    text-align: center;
    border: solid grey;
  }
  .sideText {
    background-color: white;
    border: solid grey;
  }
  .sideText1 {
    background-color: white;
    border: solid grey;
   padding: 5vw;
  }